

<!DOCTYPE HTML>

<html>
    <head>
        <title>QUESSIAH</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="/css/allbutton.css">
    
    <script type="text/javascript" src="/jquery/jquerymagic.js"></script>
      
        <!-- All CSS Plugins -->
        <link rel="stylesheet" type="text/css" href="/css/plugin.css">   
        
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

        <!-- All Javascript Plugins  -->
        <script type="text/javascript" src="/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/jquery/questionjs/plugin.js"></script>   
        <!-- Main Javascript File  -->
        <script type="text/javascript" src="/jquery/questionjs/scripts.js"></script>
        <!-- Scripts -->
            
            <script src="/jquery/js/jquery.scrolly.min.js"></script>
            <script src="/jquery/js/jquery.scrollex.min.js"></script>
            <script src="/jquery/js/skel.min.js"></script>
            <script src="/jquery/js/util.js"></script>
            <script src="/jquery/js/main.js"></script>
    </head>

    <body>

        <!-- Header -->
            <header id="header" class="alt">
                <div class="logo"><a href="/" >QUESSIAH <span>by SOE</span></a></div>
                <a href="#menu" class="toggle"><span>Menu</span></a>
            </header>

        <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/questions">Queries</a></li>
                </ul>
            </nav>




        <div class="container">
            <%- body %>
         </div>




    </body>
</html>