
<section id="banner" >
                <div class="inner">
                    <h1 style="font-family: Satisfy, cursive;">Q U E S S I A H</h1>
                    <p style="font-family: Satisfy, cursive; font-size: 25px;">Clear  all  your  doubts  today<br />
                     Ask  any   <a >Question </a>  and  get  your  most  voted  <a >Answers</a>.</p>

                    <a href="/questions" class="load-more-button2">Get Started</a>

                </div>
</section>